{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
     <div class="alet alert-info">
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }}</b></p>
         <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить статью</a>
         <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
         <a href="." class="btn btn-warning">Назад</a>
    </div>
</div>
{% endblock body %}